//--- SASS Pour la page A Propos ---
.about-container {
    max-width: 1240px;
    padding: 0 20px;
    width: calc(100dvw - 40px);
    margin: 0 auto auto auto;
}

.dropdown-container-a-propos {
    display: flex;
    flex-direction: column;
    max-width: 1023px;
    margin: 0 auto 40px auto ;
    padding: 0;
    gap: 30px;
}

//--- Responsive pour la page A Propos ---
@media (max-width: 1024px) {
    .dropdown-container-a-propos {
        margin-bottom: 20px;
        gap: 20px;
    }
}