//--- SASS Pour le composant Tags ---
.listing-tags-container {
    padding: 0;
    margin: 20px 0 0 0;
    list-style: none;
    display: flex;
    gap: 10px;

    .listing-tag {
        display: flex;
        color: white;
        font-size: clamp(10px, 2vw, 14px);
        font-weight: 700;
        padding: 4px 10px;
        background-color: rgba(255, 96, 96, 1);
        border-radius: 10px;
        min-width: clamp(68px, 10vw, 115px);
        align-items: center;
        justify-content: center;
    }
}

//--- Responsive Pour le composant Tags ---
@media (max-width: 678px) {
    .listing-tags-container {
        margin: 10px 0;

        .listing-tag {
            padding: 3px 8px;
        }
    }
}